{
	"proxy": {
		"target": "https://httpbin.org"
	},
	"engine": {
		"client_id": "00000-0000-000-000-00",
		"client_secret": "00000-0000-000-000-00",
		"issuer_url": "https://auth.dataporten.no",
		"redirect_url": "http://localhost:8888/oauth2/callback",
		"scopes": "userid,groups",
		"signkey": "testtesttesttest",
		"groups_endpoint": "https://groups-api.dataporten.no/groups/me/groups",
		"token_type": "oauth2",
		"jwt_token_issuer": "https://jwt.example.no",
		"authorized_principals": "",
		"twofactor": {
			"all": false,
			"principals": "",
			"acr_values": "",
			"backend": ""
		},
		"logging": {
			"level": "debug"
		}
	},
	"server": {
		"port": 8888,
		"health_port": 1337,
		"cert": "cert.pem",
		"key": "key.pem",
		"readtimeout": 10,
		"writetimeout": 20,
		"idletimeout": 120,
		"ssl": false,
		"secure_cookie": false
	}
}
