{
	"proxy": {
		"target": "https://httpbin.org"
	},
	"engine": {
		"client_id": "00000-0000-000-000-00",
		"client_secret": "00000-0000-000-000-00",
		"issuer_url": "https://auth.dataporten.no",
		"redirect_url": "http://localhost:8888/oauth2/callback",
		"scopes": "userid,groups,userid-feide",
		"signkey": "testtesttesttest",
		"acr_values": "",
		"twofactor_prinicpals": "",
		"twofactor_all": false,
		"logging": {
			"level": "debug"
		}
	},
	"server": {
		"port": 8888,
		"health_port": 1337,
		"cert": "cert.pem",
		"key": "key.pem",
		"ssl": false,
		"secure_cookie": false
	}
}
